env
venv
*.db
*.pyc
.webassets-cache
.vimrc
.pylintrc
/nbproject/private/
*.db2
/whoosh_index
uploads
ghostdriver.log
*.log
override.py
.env
.vagrant/
override.py
.idea/
*.sublime-project
*.sublime-workspace
crestify/static/gen
*.DS_Store
.codeintel
.vscode
dumb.rdb
