{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends "security/base.html" %}

{% block content %}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <div id="registration-overlay" class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a href="/" type="button" class="btn btn-default btn-sm pull-right">Home</a>
                <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
            </div>
            <div class="modal-body">
                <form onsubmit="event.preventDefault(); validate_code()" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                    {{ register_user_form.csrf_token() }}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                {{ register_user_form.first_name.label }}
                                {{ render_field(register_user_form.first_name, class_="form-control",
							required="true", autofocus="true") }}
                            </div>
                            <div class="col-md-6">
                                {{ register_user_form.last_name.label }}
                                {{ render_field(register_user_form.last_name, class_="form-control") }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ register_user_form.email.label }}
                                {{ render_field(register_user_form.email, class_="form-control",
							required="true") }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ register_user_form.password.label }}
                                {{ render_field(register_user_form.password, class_="form-control", required="true") }}
                            </div>
                        </div>
                        {% if register_user_form.password_confirm %}
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ register_user_form.password_confirm.label }}
                                    {{ render_field(register_user_form.password_confirm, class_="form-control", required="true") }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ register_user_form.invite_code.label }}
                                {{ render_field(register_user_form.invite_code, class_="form-control",
							required="true") }}
                                {% if register_user_form.invite_code.errors %}
                                    <ul class="errors">{% for error in register_user_form.invite_code.errors %}
                                        <li>{{ error }}</li>{% endfor %}</ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ render_field(register_user_form.recaptcha, class_="form-control",
							required="true") }}
                            </div>
                        </div>
                        {{ render_field(register_user_form.invite_id,
							required="true", hidden="true") }}
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="toc" class="form-control">
                                    <input type="checkbox" required="true" id="toc"/>
                                    <small>I agree to the <a href="/tos">Terms and Conditions</a></small>
                                </label>
                                </br>
                                <button type="submit"
                                        class="btn btn-primary">Register
                                </button>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                {% include "security/_messages.html" %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function validate_code() {
            $.getJSON($SCRIPT_ROOT + '/_getinvite_id', {
                code: $('#invite_code').val()
            }, function (data) {
                var inv_id = data.id;
                do_submit(inv_id);
            });
        }
        function do_submit(inv_id) {
            document.register_user_form.invite_id.value = inv_id;
            document.register_user_form.submit();
        }
    </script>
{% endblock %}
